<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>

  <body>
    <%- include('../partials/nav.ejs')%>
    
    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <a class="btn btn-primary btn-lg" href="/jobApps/new">+ ADD JOB APPLICATION</a>

      <% if(jobApps.length>0){ %>
        <%- include('../partials/tables/table.ejs', {
          columnNames: ["Job Title", "Company", "Status", "Priority", "Last Updated"],
          columnPaths: ["title", "company.name", "status", "priority", "updatedAt"],
          resourceName: "jobApps",
          rows: jobApps
        })%>

      <% } else { %>
        <p>No applications yet!</p>
      <% } %>
    </main>
  </body>
</html>