<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
  <body>
    <%- include('../partials/nav.ejs')%>

    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <a class="btn btn-primary btn-lg" href="/resumes/new">+ ADD RESUME</a>

      <%- include('../partials/tables/table.ejs', {
        columnNames: ["Name", "Last Updated", "Notes"],
        columnPaths: ["name", "updatedAt", "notes"],
        resourceName: "resumes",
        rows: resumes
      })%>
    </main>
  </body>
</html>
