@import url("./reset.css");
@import url("./tokens.css");
@import url("./utilities.css");
@import url("./buttons.css");
@import url("./badges.css");
@import url("./nav.css");
@import url("./card.css");
@import url("./form.css");
@import url("./list.css");
@import url("./resume.css");

h1 {
  color: var(--primary);
  text-align: left;
  padding: var(--space-xs);
  margin: 0;
}
