<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
  <body>
    <%- include('../partials/nav.ejs')%>
    
    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <a class="btn btn-primary btn-lg" href="/companies/new">+ ADD COMPANY</a>

      <%- include('../components/tables/table.ejs', {
        columnNames: ["Company", "Description", "Notes"],
        columnPaths: ["name", "description", "notes"],
        resourceName: "companies",
        rows: companies
      })%>

    </main>
  </body>
</html>