<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>

  <body>
    <%- include('../partials/nav.ejs'); %>

    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>

      <form class="crud-form" action="/companies" method="POST">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required />
        </div>
        <div class="field">
          <label for="website">Website</label>
          <input type="text" name="website" id="website" />
        </div>
        <div class="field">
          <label for="description">Description</label>
          <input type="text" name="description" id="description" />
        </div>
        <div class="field">
          <label for="notes">Notes</label>
          <input type="text" name="notes" id="notes" />
        </div>
        <div class="actions">
          <button type="submit">Add New Company</button>
        </div>
      </form>
    </main>
  </body>
</html>
