<div class="field">
  <label> <%= fieldLabel %> </label>
  <input 
    type="text" 
    name="<%= fieldName %>" 
    value="<%=fieldValue%>" 
    <%= (typeof required !== 'undefined' && required) ? 'required' : ''%>
  />
</div>
